/* Default Screen 1920px */
.container__header--main {
    background-color: var(--bg-section);
    position: relative;
    width: 100%;
    height: 105rem;
    border-top-left-radius: 3.5rem;
    border-top-right-radius: 3.5rem;
    overflow: hidden;               
    z-index: 1;
}

.container__header {
    padding: 2.5rem 0.5rem;
}

.header__background--img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.04;
    z-index: -1;
}

.Menu {
    position: relative;             
}

.container__appVersion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8.5rem;
}

.container__appVersion--button {
    width: 11rem;
    color: var(--white100);
    background: linear-gradient(315deg, #3c36ff, #fe37a7);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.container__appVersion--button h5 {
    font-size: var(--text-button-1);
    font-weight: 700;
}

.container__appVersion--text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.container__appVersion--text h1 {
    text-align: center;
    color: var(--text);
    font-size: var(--text-h1);
    line-height: 1;
    font-weight: 500;
}

.highlight-1 {
    color: var(--accent-2);
}

.container__appVersion--text p {
    width: 80%;
    text-align: center;
    color: var(--paragraph-1);
    font-size: var(--text-paragraph-1);
    line-height: 1.6;
    font-weight: 300;
    margin-top: 1rem;
}

.container__appVersion--cta {
    width: 35rem;
    color: var(--white100);
    background: linear-gradient(315deg, #3c36ff, #fe37a7);
    border-radius: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0.5rem;
    margin: 3.5rem 0 7rem;
    transition: transform 0.3s ease-in-out;
}

.container__appVersion--cta:hover {
    transform: scale(1.025);
}

.container__appVersion--cta:hover .arrow {
    color: var(--accent-3);
    transform: rotate(-45deg);
}

.container__appVersion--cta h4 {
    width: 27.5rem;
    font-size: var(--text-button-cta);
    font-weight: 600;
}

.container__appVersion--cta .arrow {
    width: 3.3rem;
    height: 3.3rem;
    background-color: var(--white100);
    color: var(--accent);
    transform: rotate(315deg);
    border-radius: 50%;
    padding: 0.6rem;
    margin-left: 1.125rem;
    transition: transform 0.3s ease-in-out;
}

.container__appVersion--mockup {
    width: 110%;
    z-index: 9;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0.5) 45%, rgba(0, 0, 0, 0) 75%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0.5) 45%, rgba(0, 0, 0, 0) 75%);
    filter: brightness(1.2) contrast(1.1) saturate(1.1);
}

/* Media Queries */
@media (max-width: 1440px) {
    .container__header--main {
        height: 90rem;
    }
    .container__appVersion--mockup {
        width: 120%;
    }
}

@media (max-width: 1280px) {
    .container__header--main {
        height: 85rem;
    }
}

@media (max-width: 1024px) {
    .container__header--main {
        height: 75rem;
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
    }
    .container__header {
        padding: 3rem 0.5rem 0;
    }
    .container__appVersion--mockup {
        width: 130%;
    }
}

@media (max-width: 768px) {
    .container__header--main {
        height: 60rem;
    }
    .container__header {
        padding-top: 1.5rem;
    }
    .container__appVersion {
        margin: 5rem 0 0;
    }
    .container__appVersion--text {
        margin: 2rem 0 1rem;
    }
    .container__appVersion--text p {
        width: 90%;
        font-size: calc(var(--text-paragraph-1) * 0.8);
    }
    .container__appVersion--cta{
        width:100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container__appVersion--cta h4 {
        width: 95%;
        text-align: center;
        font-size: calc(var(--text-button-cta) * 0.8);
        padding-left: 1.5rem;
    }
    .container__appVersion--mockup {
        width: 100%;
    }
}

@media (max-width: 540px) {
    .container__appVersion a {
        height: 17rem;
    }
    .container__appVersion--cta {
        border-radius: 2rem;
        margin: 3.5rem 0 7rem 0;
    }
    .container__appVersion--cta h4 {
        width: 100%;
        padding: 0 2rem;
        margin-bottom: 1rem;
    }
    .container__appVersion--cta .arrow {
        margin: 0 0 1rem;
    }
}