.translation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 70px;
}

.translation-container-button-translate {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--font-size-h1)*0.65);
    background-color: transparent;
    color: var(--icon);
    cursor: pointer;
    border: none;
}

.language {
    width: 1.5rem;
    transition: all 0.3s ease-in-out;
}

.language:hover {
    width: 1.6rem;
    color: var(--accent-3);
}

@media (max-width: 1024px) {
    .translation-container {
        width: auto;
        margin-left: 0;
    }
    .translation-container-button-translate {
        color: var(--accent-3);
    }
    .language:hover {
        width: 1.6rem;
        color: var(--white100);
    }
}