body {
    font-family: 'DM Sans', sans-serif;
    user-select: none;
    background-color: var(--bg-body);
    padding: 3.5rem 4rem 1rem 4rem;
}

@media (max-width: 1024px) {
    body {
        padding: 3rem;
    }
}

@media (max-width: 768px) {
    body {
        padding: 1rem;
    }
}
